html {
    scroll-behavior: smooth;
}

/*
nav {

    padding: 45px;
    background-image: linear-gradient(-125deg, orangered, rebeccapurple);
    background-repeat:no-repeat;
    background-size:auto;
    text-align:justify;
    text-align-last:justify;
}
*/
nav {
    width: 100%;
    position:sticky;
    margin 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.name {
    flex-basis: 20%;
}
.links {
    flex: 1;
    text-align: right;
}
.links ul li {
        list-style: none;
        display: inline-block;
        margin: 0 24px;
}
.links ul li a {
    color:whitesmoke;
    text-decoration: none;
    font-size:x-large;
    font-family:cursive;
}
.links ul li a:hover {
    color:black;
}
img.aiImage {
    border-radius:20%;
    width:100%;
    height:auto ;
}